// main: ./entry.less

@grid-border-width: 2px;
@grid-color: #454545;

.grid {
  float: left;
  position: relative;
  box-sizing: border-box;
  border-bottom: @grid-border-width solid @grid-color;
  border-right: @grid-border-width solid @grid-color;
}

.grid-row {
  .grid:first-child {
    border-left: @grid-border-width solid @grid-color;
  }
}

.board {
  .grid-row:first-child {
    .grid {
      border-top: @grid-border-width solid @grid-color;
    }
  }
}

.grid-touch {
  position: absolute;
  cursor: pointer;
  // background-color: yellow;
}

.suicide {
  position: absolute;
  background-image: url("./images/suicide.png");
  background-size: contain;
}
